VITE_SUPABASE_URL=https://gseutzlmlipbqbfkemey.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdzZXV0emxtbGlwYnFiZmtlbWV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcxNDU0NTgsImV4cCI6MjEwMjcyMTQ1OH0.g7_pxrgYBvhAz0bNaorsAIGX5bh25plN94J3XZgqIHw
